.home-mod {
  display: flex;
  align-items: center;
}

.main-text {
  width: 35%;

  h5 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.0625rem;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.34;
    letter-spacing: -0.0275rem;
    margin-bottom: 0.75rem;
  }
  .powertxt {
    font-size: 1rem;
    line-height: 1.56;
    letter-spacing: -0.00688rem;
    color: #6c7884;
    font-weight: 400;
    strong {
      color: #333d47;
      font-weight: 500;
    }
  }
  a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    margin-top: 4rem;
    button {
      color: #fff;
      fill: #fff !important;
      background-color: #3e7eee;
      max-height: 3.125rem;
      padding: 0.75rem 1.375rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s cubic-bezier(0.76, 0, 0.24, 1);
      -webkit-appearance: none;
      border-style: none;
      // background-color: #fff;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.02rem;
      line-height: 2;
      overflow: visible;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      // color: #3e7eee;
      white-space: nowrap;
    }
  }
  .p-caption {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    margin-top: 2rem;
    font-weight: 500;
    .home-svg {
      display: block;
      width: 1.5625rem;
      height: 1.5625rem;
      padding: 0.3125rem;
      border-radius: 4px;
      margin-right: 0.625rem;
      color: #3e7eee;
      background-image: linear-gradient(
        270deg,
        rgba(226, 236, 253, 0),
        #e2ecfd
      );
    }
  }
}

.svg-img {
  width: 65%;
  img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .home-mod {
    padding-left: 4em;
    padding-top: 8em;
  }
}

@media only screen and (min-width: 1280px) {
  .home-mod {
    padding-left: 9em;
    padding-top: 8em;
  }
}

@media only screen and (max-width: 600px) {
  .home-mod {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 7em;
    flex-direction: column;
    text-align: center;
  }
  .main-text {
    width: 100%;
    margin-bottom: 1em;
    a {
      button {
        margin: auto;
      }
    }
    .p-caption {
      justify-content: center;
    }
  }
  .svg-img {
    width: 100%;
    padding-top: .5em;
  }
}